.online {
    color: #06d6a0;
}

.wait {
    color: #ffd166;
}

.main-color {
    color: #7269ef;
}

.dark-gray {
    color: #7e819a;
}

.bg-gray {
    background-color: #e0e0e0;
}

.bg-purple {
    background-color: #7269ef;
}

.dark-mode-color {
    color: #93a7cc;
}

.dark-mode-bg {
    background-color: #313a43;
}
