@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./general.scss";

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    /* background-color: #555; */
    /* border-radius: 5px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 15px;
    opacity: 0.3;
    transition: all 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    transition: all 0.3s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    transition:
        color 0.5s,
        background-color 0.5s;

    text-rendering: optimizeLegibility;
    font-size: 16px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button,
input {
    outline: none;
    border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000;
    background: transparent;
    transition: background-color 0.3s ease-in-out 0s;
}
