.request-wrapper {
    margin-bottom: 1rem;

    transition: background 0.3s ease-in-out;

    &.dark {
        h5 {
            color: #fff;
        }

        background-color: #313a43;

        transition: background 0.3s ease-in-out;
    }

    &:hover {
        background: rgba(166, 176, 207, 0.5);
    }
}
